@model FinalProject.Models.Company

@{
    ViewBag.Title = "Company Details";
}

<div style="position: relative; height: 60px">
    <h3 style="position: absolute; top: 0; left: 50px">Companie Details For: @Html.DisplayFor(model => model.Name)</h3>
    <div><img src="@Html.DisplayFor(model => model.ImagePath)" style="position: absolute; top: 15px; right: 50px; height: 100px;"/></div>
</div>
<div class="companyDetails" style="position: relative; left: 40px">

    <div style="font-weight: bold; margin: 0 10px;">
        @Html.DisplayNameFor(model => model.Name):
    </div>
    @Html.DisplayFor(model => model.Name)

    <div style="font-weight: bold; margin: 0 10px">
        @Html.DisplayNameFor(model => model.Location):
    </div>
    @Html.DisplayFor(model => model.Location)

    <div style="font-weight: bold; margin: 0 10px">
        @Html.DisplayNameFor(model => model.Revenue):
    </div>
    @Html.DisplayFor(model => model.Revenue)$
</div>

<div class="companyDetails" style="position: relative; left: 40px; margin: 10px 0;">

    <div style="font-weight: bold; margin: 0 10px;">
        @Html.DisplayNameFor(model => model.Description):
    </div>
    @Html.DisplayFor(model => model.Description)
</div>
<div class="companyDetails" style="position: relative; left: 40px">
    @if (User.IsInRole("Admin"))
    {
        <div style="margin: 10px">@Html.ActionLink("Edit", "Edit", new {id = Model.CompanyId}) </div>
    }
    <div style="margin: 10px">@Html.ActionLink("Back to List", "Index") </div>
</div>

<style>
    .companyDetails {
        width: 100%;
        display:flex;
        flex-direction: row;
    }
</style>
