@model FinalProject.Controllers.CompanyViewModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3><b>Edit</b> Company Details For: @Html.DisplayFor(model => model.Name)</h3>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CompanyId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location)
                @Html.ValidationMessageFor(model => model.Location)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Coordinates.Latitude, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Coordinates.Latitude)
                @Html.ValidationMessageFor(model => model.Coordinates.Latitude)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Coordinates.Longitude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Coordinates.Longitude)
                @Html.ValidationMessageFor(model => model.Coordinates.Longitude)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ImagePath, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImagePath)
                @Html.ValidationMessageFor(model => model.ImagePath)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.MostPopularDevelopmentTool, "Most Popular Dev Tool", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MostPopularDevelopmentTool, new SelectList(ViewBag.devProducts, "Value", "Text"))
                @Html.ValidationMessageFor(model => model.MostPopularDevelopmentTool)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.TotalRevenue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalRevenue)
                @Html.ValidationMessageFor(model => model.TotalRevenue)
            </div>
        </div>
        
        
        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfEmployees, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfEmployees)
                @Html.ValidationMessageFor(model => model.NumberOfEmployees)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "text-area-size" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
