@model FinalProject.Controllers.CompaniesModel

@{
    ViewBag.Title = "Index";
}

<h2>Companies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div >
    <strong>Filters</strong><br/>
    Location: @foreach (var location in Model.AvailableLocations)
              {
                  @Html.ActionLink(location, "Index", new { location = location, hasCrippleEntrance = Model.CrippleEntranceFilter, hasSecurity = Model.SecurityFilter })<span>, </span>
              }
</div>
<div>
    @Html.ActionLink("Clear Filters", "Index")
</div>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Location
        </th>
        <th>
            Most Popular Dev Product
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Companies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MostPopularDevelopmentTool.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.CompanyId }) |

                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.CompanyId })<span>
                                                                                   |
                                                                               </span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.CompanyId })
                }
            </td>
        </tr>
    }

</table>

<div id="map-canvas"></div>

<style>
    html, body, #map-canvas {
        height: 800px;
        margin: 0px;
        padding: 0px;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfiVsoXlAczf7sp0Uxl7XhL0XZm70XWcQ">
</script>
@Scripts.Render("~/bundles/Map")
<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', function () {
        initializeMap();
        @foreach (var Company in Model.Companies.Select(x => new { Coordinates = x.Coordinates, Name = x.Name }))
        {
            <text>addMarkerToMap(@Html.Raw(Json.Encode(Company)));</text>
        } 
    });
</script>


