<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dev Tools Search Angine</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                </button>
                @Html.ActionLink("Dev Tools Search Angine", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse navigation">
                <nav class="nav navbar-nav">
                    @Html.ActionLink("Home", "Index", "Home")
                    @Html.ActionLink("Top-Tools", "Index", "Item")
                    @Html.ActionLink("Top-Companies", "Index", "Company")
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Statistics", "Index", "Statistics")<text> | </text>
                    }
                    @Html.ActionLink("About", "About", "Home")
                </nav>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
<div class="container body-content">
    
    @RenderBody()
    <hr/>
    <footer>
        <p>Created for the collage of managment by Nadav Kaner, Bar Miliavsky, Yakir Kadkoda and Mor Tal as an excersize, &copy; December, 2016</p>
    </footer>
</div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("/Content/Site.css")
    @RenderSection("scripts", required: false)
</body>
</html>
