@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@model FinalProject.Models.DevelopmentTool

@{
    ViewBag.Title = "Details";
}

<h3>Development tool Details For: @Html.DisplayFor(model => model.Name)</h3>
<hr/>
<div style="position: relative;">
    <div style="position: absolute; height: 0; right: 0;">
        <img src="@Html.DisplayFor(model => model.ImagePath)" style="position: absolute; right: 50px; height: 100px;"/>
    </div>
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Number Of Users
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfUsers)
        </dd>
        
        <dt>
            Source Code License
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceCodeLicense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteUrl)
        </dt>

        <dd>
            <a href="@Html.DisplayFor(model => model.SiteUrl)">@Html.DisplayFor(model => model.SiteUrl)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate) / 10 (@Html.DisplayFor(model => model.NumberOfRaters) Raters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
<hr />
<h4>comments:</h4>

@if (Model.Comments == null || !Model.Comments.Any())
{
    <h5 style="color: gray">No comments</h5>
}
else
{
    <table class="table">
        <tr>
            <th>
                User
            </th>
            <th>
                Text
            </th>
            <th>
                Date
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model.Comments.OrderBy(x => x.Date))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.Identity.GetUserId() == item.User.Id)
                    {
                        @Html.ActionLink("Delete", "DeleteComment", new {id = item.Id})
                    }
                    else
                    {
                        <div style="color: gray">No Actions</div>
                    }
                </td>
            </tr>
        }

    </table>
}
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Add comment", "AddComment", new {id = Model.Id})
}
else
{
    <div>
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        or
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        to leave a comment.
    </div>
    
}




