@using FinalProject.Models
@model FinalProject.Models.ComputersModel

@{
    ViewBag.Title = "Items";
}

<h2>Items</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <strong>Filters</strong>
</div>
<div class="row">
    Graphics Card Manufacturer: @Html.ActionLink("Intel", "Index", new {graphicsCardManufacturer = GraphicsCardManufacturer.Intel, processorType = Model.ProcessorTypeFilter, hasTouchScreen = Model.TouchScreenFilter}), @Html.ActionLink("Nvidia", "Index", new {graphicsCardManufacturer = GraphicsCardManufacturer.Nvidia, processorType = Model.ProcessorTypeFilter, hasTouchScreen = Model.TouchScreenFilter}), @Html.ActionLink("Amd", "Index", new {graphicsCardManufacturer = GraphicsCardManufacturer.Amd, processorType = Model.ProcessorTypeFilter, hasTouchScreen = Model.TouchScreenFilter})
</div>
<div class="row">
    Processor Type: @Html.ActionLink("i3", "Index", new {graphicsCardManufacturer = Model.GraphicsCardManufacturerFilter, processorType = ProcessorType.i3, hasTouchScreen = Model.TouchScreenFilter}), @Html.ActionLink("i5", "Index", new {graphicsCardManufacturer = Model.GraphicsCardManufacturerFilter, processorType = ProcessorType.i5, hasTouchScreen = Model.TouchScreenFilter}), @Html.ActionLink("i7", "Index", new {graphicsCardManufacturer = Model.GraphicsCardManufacturerFilter, processorType = ProcessorType.i7, hasTouchScreen = Model.TouchScreenFilter})
</div>
<div class="row">
    Touch Screen: @Html.ActionLink("Yes", "Index", new {graphicsCardManufacturer = Model.GraphicsCardManufacturerFilter, processorType = Model.ProcessorTypeFilter, hasTouchScreen = true}), @Html.ActionLink("No", "Index", new {graphicsCardManufacturer = Model.GraphicsCardManufacturerFilter, processorType = Model.ProcessorTypeFilter, hasTouchScreen = false})
</div>
<div class="row">
    @Html.ActionLink("Clear Filters", "Index")
</div>

<div class="row">
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Touch Screen
            </th>
            <th>
                Graphics Card Manufacturer
            </th>
            <th>
                Processor Type
            </th>
            <th>
                Company Name
            </th>
            <th>
                Company Location
            </th>
            <th>
                Available From
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model.Computers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasTouchScreen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GraphicsCardManufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcessorType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableFrom)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ItemId }) |

                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ItemId })<span>
                            |
                        </span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
                    }
                </td>
            </tr>
        }

    </table>
</div>